<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LinuxTerminali/audiblereddit">AudibleReddit</a></strong>
			- AudibleReddit uses Reddit API and helps users to listen or read the news articles 
			posted on different subreddit in their native languages.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LinuxTerminali/crickbuzz_cricket_score">Cricket Score in Terminal</a></strong>
			- A Terminal based program to follow live cricket score by scraping crickbuzz.com.
		</h5>
    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.terminali.webseries&hl=en">WebShow</a></strong>
			- Webshow is an Android app that uses youtube API and my flask based API to aggregate all Indian web shows available on youtube and 
		provide a hassle free one stop destination for the webshow lovers.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LinuxTerminali/MovieDB">MovieDB</a></strong>
			- MovieDB is your Movie and TV show companion in which user can search,read share and watch trailers of their favorite movie or TV Show. 
			Watch trailers and other related videos of your favorite TV show or movie.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LinuxTerminali/simplenews">Simplenews</a></strong>
			- SimpleNews let you Listen to the News article or Read it save it as a text file(Written in python).
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/LinuxTerminali/Weather_app">Weather App</a></strong>
			- An Android app to fetch data from open weather.
.
		</h5>


    </div>
  </div>
</div>
</section>
